@import "../../../../assets/less/import.less";

.navbar-brand {
  font-size: 18px;
  cursor: pointer;
  padding-top: 0;
  height: @navbar-height;
}

a.logo {
  background-size: 35px 28px;
  margin: 0 10px 0 0;
  img{
    height: @navbar-height;
  }
}
