<button mat-icon-button [matMenuTriggerFor]="menu" class="disableRipple" [disableRipple]="true" aria-label="Example icon-button with a menu">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="menu-apps-css" [ngStyle]="{'heigth': 'calc(100 * {{Math.trunc(vwsServices.length()/2)}} px)'}">
        <ng-container *ngFor="let service of vwsServices">
            <a class="a-service" mat-menu-item [href]="service.url" [target]="service.target">
              <div class="service-display">
                <div class="cercle-icon">
                  <mat-icon class="icon-display">{{service.icon}}</mat-icon>
                </div>
                <span class="service-name">{{service.name}}</span>
              </div>
            </a>
          </ng-container>
    </div>
  </mat-menu>
  