.menu-apps-css{
    display:grid;
    grid-template-columns: 160px 160px;
    grid-row: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

::ng-deep .mat-mdc-menu-panel{
    max-width: 330px!important;
}

.disableRipple{
    --mat-mdc-button-persistent-ripple-color: none;
}

.a-service{
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.service-display{
    display: flex;
    flex-direction: column;
}

.cercle-icon{
    height: 56px;
    width: 56px;
    align-self: center; 
    background-color: #194ba0;
    border-radius: 50px;
}

.service-display .cercle-icon .icon-display{
    height: auto;
    width: auto;
    color: white !important;
    font-size: 42px;
    margin-left: 7px;
    margin-top: 7px;
}

.service-name{
    color: #194ba0;
    align-self: center;
    font-size: 14px;
}

.service-app{
    align-self: center;
    display: grid;
}