//== Define services colors and classes
@dashboard_color: #1A237E;
@licence-color: #0277BD;
@reportAnalysis-color: #3f51b5;
@reportAnalysis-color-v2: #3f51b5;
@viser-download: #2E7D32;
@docs-color: #e84e40;
@audio-color: #607D8B;
@mos-rating-only-errors: #E53935;
@mos-rating-with-errors: #E68900;
@mos-rating-no-error: #7DB043;
@download: #2E7D32;
@support: #000000;
@menu-item-color: #363636;

.audio-color {
  color: @audio-color;
}

.dashboard-color {
  color: @dashboard_color !important;
}

.documentation-color {
  color: @docs-color;
}

.download-color {
  color: @download !important;
}

.licence-color {
  color: @licence-color;
}

.report-analysis-color {
  color: @reportAnalysis-color;
}

.report-analysis-color-v2 {
  color: @reportAnalysis-color-v2 !important;
}

.support-color {
  color: @support;
}

.mos-rating-only-errors{
	color:@mos-rating-only-errors;
}
.mos-rating-with-errors{
	color:@mos-rating-with-errors;
}
.mos-rating-no-error{
	color:@mos-rating-no-error;
}

//== Define main color variables
@base-color: rgba(0, 0, 0, 1);
@text-color: rgba(0, 0, 0, 0.87);
@secondary-text-color: rgba(0, 0, 0, 0.54);
@icons-color: rgba(0, 0, 0, 0.54);
@disabled-color: rgba(0, 0, 0, 0.38);
@divider-color: rgba(0, 0, 0, 0.12);
@primary-color: rgba(63, 81, 181, 1);
@accent-color: rgba(255, 82, 82, 1);

//== Define other color variables
@menu-color: #757575;
@menu-background-hover: rgb(246, 246, 246);
@link-hover-color: #1A237E;
