//
// Navbar
// --------------------------------------------------
.navbar-fixed-top {
  z-index: 999 !important;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-nowrap {
  white-space:normal !important;
}

nav {
  height: 42px;

  .dropdown-toggle {
    span {
      color: white !important;
    }
  }

  .navbar-header {
    button.fa-bars {
      float: left;
      padding: 5px;
      font-size: 18px;
      margin: 0 15px 0 0;
      color: white !important;
    }

    .navbar-brand {
      float: left;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  #logo.btn {
    background: url("/assets/img/logo-small-white.png") no-repeat;
    background-size: 35px 28px;
    height: 28px;
    width: 35px;
    position: relative;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    cursor: pointer;
  }

  #logo:focus {
    background-color: @primary-color;
  }

  input[type="text"] {
    height: 50px;
    font-size: 16px;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: white;
    padding: 3px;
    padding-right: 60px;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }

  input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
  }

  input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }
  input[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    float: right;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    transition: opacity .4s ease;
  }

  input[type="submit"]:hover {
    opacity: 0;
  }

  li.profile {
    span.user-name {
      padding: 0 0 0 10px;
    }
  }


  .profile ul.dropdown-menu {
    padding: 0;
    min-width:250px;

    li {
      padding: 5px 0;

      span.fa {
        margin: 0 15px 0 0;
      }
    }


  }

  .profile ul.dropdown-menu li:hover {
    background-color: rgb(246, 246, 246);

    a {
      color: @text-color !important;
    }
  }

  .profile ul.dropdown-menu li:not(:first-child) {
    border-top: @divider;
  }

  .dropdown-menu.apps {
    width: 300px;

    a {
      float: left;
      width: 100%;
      text-align: center;
      padding: 15px 0;
      color: @text-color;
      cursor: pointer;

      span {
        float: left;
        width: 100%;
        font-size: 40px;
      }
    }

    a:hover {
      background-color: @menu-background-hover;
    }
  }

  .navbar-collapse.collapse.in {
    background-color: @primary-color;

    li {
      padding: 0 10px;

      span.hidden-lg {
        padding: 0 0 0 10px;
      }

      span {
        padding-left: 0;
      }
    }
  }

  .dropdown-menu:before {
    bottom: 100%;
    right: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: white;
    border-width: 6px;
  }

  .notification-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
