//
// Responsive fixes
// --------------------------------------------------

//== Classes

//== Extra small screens
@media(max-width: 768px) {

  .navbar-nav .open .dropdown-menu, .profile.dropdown {
    float: left;
  }

  nav {
    .dropdown-menu.apps {
      //width: 300px;
      padding: 0 0 0 30px;

      a {
        float: left;
        width: 100%;
        text-align: left;
        padding: 15px 0;
        color: white;
        cursor: pointer;

        span {
          float: left;
          width: 100%;
          font-size: 16px;
          padding: 0 10px 0 0;
        }
      }

      a:hover, a:focus {
        background-color: @menu-background-hover;
      }
    }


    span {
      color: white !important;
    }
  }


  .panel {
    .panel-heading {
      button {
        width: 100%;
        margin-top: 10px;
      }
    }

    span:not(.fa) {
      float: left !important;
    }
  }

  //== Navbar
  nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-header {
    margin: 0 !important;
  }

  li.profile a span.caret {
    display: none;
  }

  .dropdown-menu:before {
    display: none;
  }

  .dropdown-menu.apps {
    text-align: left;
  }

  .dropdown-menu.apps a {
    color: white;
  }

  .dropdown.apps span.name {
    display: block;
  }

  .dropdown.apps span {
    float: left;
    padding: 0 0 0 10px;
  }

  .dropdown-menu.apps span.app-icon {
    float: left;
    width: auto;
  }

  .dropdown-menu.apps span.app-icon:before {
    background-color: transparent;
    color: white;
  }

  .dropdown-menu.apps:after {
    content: none;
  }

  .profile.dropdown {
    padding: 0 0 0 10px;
  }

  .profile.dropdown span.user-pic {
    float: left;
    padding: 0 10px 0 0;
  }

  //== Sidebar
  #sidebar {
    width: 70% !important;
    z-index: 999;
    left: -70% !important;
  }

  #sidebar.slide-out-left {
    left: 0 !important;
  }

  #navbar {
    margin-top: 6px;
  }

  //== Content
  .content.slide-out-left {
    width: 100% !important;
    left: 0 !important;
  }

  //== Modal / Dialog (fullscreen)
  .is-mobile-fullscreen {
    background-color: white;

    .modal-dialog {
      margin: 0;

      .modal-content {
        background-color: white;
        border: none;
        box-shadow: none;

        .modal-header {
          background-color: @primary-color;
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;

          button {
            color: white;
          }

          .close {
            opacity: 1;
            position: relative;
            float: left;
            margin: 0;
            padding: 0 30px 0 0;
            font-weight: 300;
            font-size: 32px;
          }

          .btn {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
  //== Sidebar
  #sidebar {
    width: 25% !important;
    z-index: 999;
    left: -25% !important;
  }

  #sidebar.slide-out-left {
    left: 0 !important;
  }

  //== Content
  .content.slide-out-left {
    width: 100% !important;
    left: 0 !important;
  }

  //== Modal / Dialog (fullscreen)
  .is-mobile-fullscreen {
    background-color: white;

    .modal-dialog {
      margin: 0;
      width: 100%;

      .modal-content {
        background-color: white;
        border: none;
        box-shadow: none;

        .modal-header {
          background-color: @primary-color;
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;

          .close, .ok {
            display: block !important;
          }

          button {
            color: white;
          }

          .close {
            opacity: 1;
            position: relative;
            float: left;
            margin: 0;
            padding: 0 30px 0 0;
            font-weight: 300;
            font-size: 32px;
          }

          .btn {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {

}

@media (min-device-width: 1200px) and (max-device-width: 1830px) {

}

@media (min-width: 1830px) {

}