span.badge {
  position: absolute;
  top: 4px;
  right: -2px;
  padding: 3px 7px;
  background-color: rgba(255, 255, 255, .3);
  font-family: Arial, serif;
  font-size: 12px;
  border-radius: 10px;
}

li.dropdown .dropdown-toggle {
  text-decoration: none;
}

div.dropdown-menu.notifications {
  background-color: #eee;
  min-width: 600px;
  right: 0;
  left: auto;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;

  .fa {
    color: rgba(0, 0, 0, .54)
  }

  a.discard:hover > span {
    transition: all linear .2s;
    color: #ff5252;
  }

  a.refresh:hover > span {
    transition: all linear .2s;
    color: #2196F3;
  }

  a {
    cursor: pointer;
  }

  ul {
    margin-top: 10px;
    padding-left: 0;

    li {
      display: block;
    }

    li.no-notification {
      text-align: center;
      color: rgba(0, 0, 0, .54);
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;

      span {
        width: 100%;
      }

      span.icon {
        font-size: 20px;
        margin-bottom: 15px;
      }

      span.message {
        font-size: 14px;
      }

      a.refresh {
        font-size: 18px;
        display: block;
        position: relative;
        padding: 0 15px 15px 15px;
      }
    }

    li.header {
      width: 100%;
      position: relative;
      margin: 0 0 5px;
      padding: 0;
      height: 30px;
      float: left;

      a.refresh {
        display: block;
        position: absolute;
      }

      a.discard {
        display: block;
        position: absolute;
        right: 0;
      }
    }

    li.notification:hover {
      transition: all linear .2s;
      box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, .12), 1px 5px 6px 2px rgba(0, 0, 0, .12);
    }

    li.notification {
      width: 580px;
      margin: 0 10px 10px;
      background: #fff;
      padding: 5px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
      float: left;

      a {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;

        span.icon {
          float: left;
          color: #fff;
          background: #3f51b5;
          padding: 10px;
          border-radius: 100%;
          margin-right: 10px;
          margin-top: 2px;
        }

        span.message {
          color: #333;
          float: left;
          width: 90%;
          overflow: hidden;
          white-space: normal;
        }

        span.message:hover {
          transition: all linear .2s;
          color: #3f51b5
        }

        span.date {
          float: left;
          color: rgba(0, 0, 0, .54);
        }
      }
    }
  }
}
