<li ngbDropdown class="dropdown">
    <a class="default-a" title="Notifications" ngbDropdownToggle>
        <span class="fa fa-bell">
            <span class="badge"
                  [hidden]="notifications.length === 0">
                {{ totalNotifications }}
            </span>
        </span>
    </a>

    <!-- stopPropagation prevents the drop down from closing when you click in it -->
    <div ngbDropdownMenu class="dropdown-menu notifications col-md-12"
         (click)="$event.stopPropagation()">
        <ul>
            <li class="no-notification"
                [hidden]="notifications.length > 0">
                <span class="icon fa fa-bell-slash"></span>
                <span class="message">Nothing new to upload from your VWS Download personal space.</span>
                <a class="refresh" title="Refresh notifications" (click)="onRefresh()">
                    <span class="fa fa-refresh"></span>
                </a>
            </li>
            <li class="header"
                [hidden]="notifications.length === 0">
                <a class="refresh" title="Refresh notifications" (click)="onRefresh()">
                    <span class="fa fa-refresh"></span>
                </a>
                <a class="discard" title="Discard all notifications" (click)="onDiscardAll()">
                    <span class="fa fa-close"></span>
                </a>
            </li>
            <li class="notification"
                [hidden]="notifications.length === 0"
                *ngFor="let notification of notifications">
                <a [href]="notification.url"
                   (click)="onDiscard(notification.id)">
                    <span class="icon {{ notification.icon }}"></span>
                    <span class="message">
                        {{ notification.message }}
                    </span>
                    <span class="date">
                        {{ notification.stringDate }}
                    </span>
                </a>
                <a class="discard" title="Discard"
                   (click)="onDiscard(notification.id)">
                    <span class="fa fa-close"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
