@import "../../assets/less/import.less";

.toolbar{
  height: 45px;
  background-color: #fafafa;
  position: sticky;
  z-index: 3;
  top : 0;
  box-shadow: 0 -8px 15px 5px #111;
  width: 100%;
  padding: 0px;
}

.user-menu{
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

li {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    padding: 0 15px;

    i.material-icons {
      font-size: 18px;
    }
  }
}
