<mat-toolbar class="toolbar">
    <vws-navbar-header
            [showSideNavToogle]="showSideNavToogle"
            [serviceUrl]="parentService.url" 
            (goToHome)="goToHomeClick()">
    </vws-navbar-header>
    <vws-navbar-menu
        [menuItems]="menuItems"
    ></vws-navbar-menu>
    <span class="example-spacer"></span>

    <vws-navbar-upload *ngIf="isUpload" class="d-flex"></vws-navbar-upload>

    <vws-navbar-apps-menu
        *ngIf="!isDashboard"
        class="d-flex"
        [vwsServices]="vwsServices$">
    </vws-navbar-apps-menu>

    <vws-navbar-user-menu
        *ngIf="userConnected"
        class="d-flex user-menu"
        [userConnected]="userConnected">
    </vws-navbar-user-menu>
</mat-toolbar>
