<mat-button mat-button class="menu-user" [matMenuTriggerFor]="menu" aria-label="User menu">
  {{userNameInitial}}
  </mat-button>
  <mat-menu #menu="matMenu">
    <div class="account">
      <div class="menu-user open-menu-user">{{userNameInitial}}</div>
      <div class="info-account">
        <span class="user-name">{{userName}}</span>
        <span class="email">{{email}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let line of userMenu">
        <button mat-menu-item (click)="line.action()">
          <mat-icon>{{line.icon}}</mat-icon>
          <span>{{line.text}}</span>
        </button>
    </ng-container>
  </mat-menu>
  