.menu-user{
    background-color: #194ba0;
    border-radius: 50px;      
    color: white;
    height: 32px;
    width: 32px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.open-menu-user{
    margin-left: 5px;
    height: 34px;
    width: 34px;
    align-self: center;
    align-content: center;
    display: grid;
    cursor: auto;
}

.user-name{
    margin-left: 7px;
    margin-right: 5px;
    font-size: 14px;
    height: 20px;
}

.email{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 5px;
    height: 24px;
}

.account{
    display: flex;
    flex-direction: row;
}

.info-account{
    display: flex;
    flex-direction: column;
}