<div id="vws-navbar-menu">
  <ul>
    <li *ngFor="let item of menuItems">
      <a mat-button [routerLink]="item.link" [ngClass]="{'selected': item.selected}" queryParamsHandling="merge">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>
          {{ item.label }}
        </span>
      </a>
    </li>
  </ul>
</div>