@import "../../../../assets/less/import.less";


#vws-navbar-menu{
  height: @navbar-height;
  ul {
    list-style: none;
    height: @navbar-height;
    margin: 0;
    li {
      height: 100%;
      display: inline-block;
      a {
        color: @menu-item-color;
        height: 100%;
        border-radius: 0;
        &:hover{
          color: @menu-item-color;
        }
      }
      a.selected {
        border-bottom: solid 2px @reportAnalysis-color-v2;
        color: @reportAnalysis-color-v2;
        font-weight: bold;
      }
    }
  }
}